@import url('https://fonts.googleapis.com/css2?family=Rubik Microbe&display=swap');

*{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}


title {
    font-size: 45px;
    font-display: flex;
}
h1 {
    padding-bottom: 10px;
}
body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
    text-align: center;
    padding: 15px;
  }
.reads-header {
    padding-top: 20px;
    padding-bottom: 20px;
  }

.RS6 {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }


.login_form {
    width: auto;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    display:flex;
    flex-direction: column;
    align-items:flex-end;
    justify-content: flex-start;
    height:100%;
    margin-left: auto;

}
.responsive {
    width: 85%;
    height: auto;
  }

.row {
    padding-top: 25px;
    padding-bottom: 25px;
    justify-content: center;
    align-items: center;
}
.row2 {
    padding-bottom: 20px;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
}
.gallery-img {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 90%;
  height: auto;
  justify-content: center;
  align-items: center;
  
}

head {
    flex: 1;
    display: flex;
    flex-direction: row !important;
    list-style: none;
  }

.nav {

    display: flex;
    justify-content: center;
    list-style: none; 
    padding-left: 0; 
    font-size: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
  }
  
.nav-item {
    margin: 0 10px; 
  }


body {
    background-color: #2e2d2d; 
    color: #E0E0E0; 
    font-family: Arial, sans-serif;
  }
  
  a {
    color: #fefbfb; 
    text-decoration: none; 
  }
  
  a:hover {
    text-decoration: underline; 
  }
  
  header, footer {
    background-color: #2e2d2d; 
    color: #FFFFFF; 
    padding: 10px 0; 
  }
  
  button:hover {
    background-color: #383838;
  }
  
  ._title {
    padding-top: 10px;
  }
  .price-container {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .dropdown-container {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .ad-price {
    align-items: center;
  }
  .reads_p{
    padding: 10px;
  }

  .reads_tile {
    padding: 10px;
  }
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  } 
 
  
  
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}


.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  justify-content: center;
  align-content: center;
}


#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}


.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

#commentSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  
}

.commentStyling {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: auto;
  background-color: #2e2d2d;
  color: #E0E0E0;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.paragraphStyling {
  margin-left: 12%;
  margin-right: 12%;
}

/* Like Section */
.like_section {
  margin-top: 5px;
  margin-bottom: 15px;
}

.like_button {
  background-color: black;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  outline: none;
}

.like_button:hover {
  background-color: #0056b3;
}

.like_count {
  margin-left: 5px;
  font-weight: bold;
}
/* caption styling */


.postingAccountName, .captionText {
  display: inline;
  margin: 0;
  font-size: 1em;
}

.captionText {
  flex: 1; /* Ensures it takes up the remaining space */
}

/* notification styling */

#notification {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #b45d56;
  color: white;
  padding: 20px;
  z-index: 1000;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}